# Virtual Environment
.venv/
venv/
env/

# Python Cache
__pycache__/
*.pyc

# Environment Variables
.env

# Uploaded PDFs
uploads/*

# FAISS Vector Database
vectorstore/*

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db